// Basic styles
// -----------------------------------------------------------------------------

%basic {
	font-family: $family_text_basic;
	font-size: $size_text_1;
	line-height: $line_text_basic;
}

%basic_mono {
	font-family: $family_text_mono;
	font-size: $size_text_1;
	line-height: $line_text_mono;
}

%basic_print {
	font-family: $family_text_print;
	font-size: $size_text_1;
	line-height: $line_text_basic;
}

%head_all {
	font-family: $family_head_basic;
	line-height: $line_head_basic;
}

%head_1 {
	font-size: $size_head_1;
	font-weight: 300;
}

%head_2 {
	font-size: $size_head_2;
	font-weight: 300;
}

%head_3 {
	font-size: $size_head_3;
	font-weight: 300;
}

%head_4 {
	font-size: $size_head_4;
	font-weight: 300;
}

%basic_button {
	@extend %basic;
}

%solo {
	@extend %basic;
}

%short {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; // vendor
}
