// Custom extends and mixins
// ------------------------------------------------------------------------------
@import "mixins";
@import "extends";

// Editor module styles
// ------------------------------------------------------------------------------

%wip {
  border-right: $space_basic solid rgba(crimson, 0.8);
  background-color: rgba(crimson, 0.1) !important;
}
.wip {
  @extend %wip;
  &::before, &::after {
    content: "";
    display: block;
    height: 48px;
  }
}
.wip_txt {
  @extend %wip;
}
