.body_status {
  @extend .sec_main_status;
  height: 100vh;
  border-color: $foxtrot_color;

  .main_site {
    @extend .wrap_center;
    & > h1:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: bold;
      line-height: 1;
    }
    & > h1 + h3 {
      margin-top: 0;
      margin-bottom: $space_small;
    }
  }
}
