// Tabular data
// -----------------------------------------------------------------------------
// table
// caption
// colgroup
// col
// tbody
// thead
// tfoot
// tr
// td
// th



// Table
// -----------------------------------------------------------------------------
table {
	margin: $margin_double;
	border: $border_basic;
	border-collapse: collapse;
}

.table_blank {
	border: $width_border_basic solid transparent;

	th, td {
		border: $width_border_basic solid transparent;
	}
}

.table_free {
	border: $width_border_basic solid transparent;
}

.table_stripe {
	td {
		border-top: 0;
		border-bottom: 0;
	}

	tr:nth-child(even) td {
		background-color: lighten($color_back_basic, $color_diff_tiny);
	}
}

.table_fix {
	table-layout: fixed;
}

.table_file_simple {
	@extend .width_full;
}

// Caption
// -----------------------------------------------------------------------------
caption {
	@extend p;
	padding: $space_half 0;
	border: $border_dotted;
	text-align: center;
}

// Columns
// -----------------------------------------------------------------------------
colgroup {

}

col {

}

// Table body
// -----------------------------------------------------------------------------
tbody {

}

// Table head
// -----------------------------------------------------------------------------
thead {

}

// Table foot
// -----------------------------------------------------------------------------
tfoot {

	tr:first-child td {
		border-top: $border_basic;
	}
}

// Row
// -----------------------------------------------------------------------------
tr {

}

// Cells
// -----------------------------------------------------------------------------
th, td {
	@extend %basic;
	padding: $space_half;
}

th {
	border: $border_basic;
	text-align: left;
}

td {
	border-right: $border_basic;
	border-bottom: $border_basic;
}

td:last-child {
	border-right: 0;

	td {
		border-bottom: 0;
	}
}

.cell_pre {
	// border-right-width: $width_border_4;
	// border-right-color: lighten($color_back_basic, $color_diff_basic);
	background-color: lighten($color_back_basic, $color_diff_tiny);
}
