nav {

	ul {
		padding-left: 0;
	}

	li {
		margin-bottom: $space_basic;
		list-style: none;
	}
}

.nav_horizontal {
	ul {
		@extend .overflow;

		ul {
			margin: $space_basic 0;
		}

		li {
			@extend .float_space_left;
			margin-right: $space_basic;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.nav_right {
	float: right;
	margin-left: $space_basic;

	.align_parent {
		margin-right: $space_basic * -1;
	}
}

.nav_separate {
	li {
		position: relative;
		padding-left: $space_tiny;

		&:not(:first-child) {

			&::before {
				content: "";
				position: absolute;
				width: $space_tiny;
				height: 100%;
				left: 0;
				top: 0;
				background-color: $color_border_basic;
			}
		}
	}
}

.nav_separate_right {
	float: right;
	li {
		position: relative;

		&:first-child {
			padding-left: $space_basic * 2 + $space_tiny;

			&::before {
				content: "";
				position: absolute;
				width: $space_tiny;
				height: 100%;
				left: 0;
				top: 0;
				background-color: $color_front_basic;
				margin: 0 $space_basic;
			}
		}
	}
}

.nav_center_old {
	@extend .nav_horizontal;
	float: right;
	position: relative;
	left: -50%;

	ul {
		position: relative;
		left: 50%;
		text-align: center;
	}
}

.nav_column {
	position: relative;
	margin: $space_basic 0;

	ul {
		@extend .flex;
		margin: 0 $space_large;

		li {
			@extend .flex_child;
			flex-grow: 1;
			margin: 0;
			text-align: center;

			a {
				display: block;
			}
		}
	}
}

.nav_page_meta {
	position: fixed;
	// display: table;
	// width: 3em;
  right: $space_half;
  bottom: $space_double;

	ul {
		margin: $space_basic 0;
	}

	li {
		margin-bottom: 0;
		line-height: 1;
	}
	button {
		width: 32px;
		margin-right: 0;
		margin-left: 0;
	}
	.a_button_meta {
		// display: table-cell;
		display: inline-block;

		&:active,
		&:focus {
			background-color: transparent;
		}

		&:hover {
			background-color: $color_action_basic;
		}
	}
	.sprite_img {
		vertical-align: top;
	}
}

.header_page {

	nav {
		@extend .nav_horizontal;

		a {

			&:active,
			&:focus,
			&:hover {
				background-color: rgba($color_text_basic, 0.2);
				color: $color_text_basic;
			}
		}
	}
}
